{% block head %}<h1>Register</h1>{% endblock %}

{% block body %}

<p>To register, fill out the form below:</p>

<form action="/register" method="POST">
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="lname" placeholder="Last Name">
    <br>
    <br>
    <input type="text" name="email" placeholder="Email Address">
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <button type="submit">Register</button>
</form>

{% endblock %}