<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Type</title>
</head>

<body>
    <form id="structure_submission" action="/submission_type" method="POST">
        <label for="submission_type">What type of submission is this?</label>
        <input type="radio" name="submission-type" value="db-submission-type"> Database
        <input type="radio" name="submission-type" value="obj-submission-type"> Objective
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>